<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="cmd.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="overlay" @click="claerAll" v-if="cmd1isClicked||cmd2isClicked"></div>
        <div class="thumbnail" @click="cmd1isClicked = true">
            <div class="box">
                <div class="cmdheader">
                    <p class="header-elements">cmd</p>
                </div>
                <div class="cmdbody">
                    <p class="annotation">
                        Click for details
                    </p>
                </div>
            </div>
        </div>

        <transition name="fade" mode="out-in">
            <div id="cmd1" class="cmdcontainer" v-if="cmd1isClicked">
                <div class="cmdheader">
                    <p class="header-elements">cmd</p>
                    <button id="copyButton" class="header-elements" @click=copyCode("codeList1")>
                        <img src="clipboard-regular.svg" alt="copyButton">
                        <span>Copy code</span>
                    </button>
                </div>
                <div class="cmdbody">
                    <p v-for="code in codeList1" ref="codeList1" class="code">
                        {{code}}
                    </p>
                </div>
            </div>                
        </transition>
        

        <div class="thumbnail" @click="cmd2isClicked = true">
            <div class="box">
                <div class="cmdheader">
                    <p class="header-elements">cmd</p>
                </div>
                <div class="cmdbody">
                    <p class="annotation">
                        Click for details
                    </p>
                </div>
            </div>
        </div>
        <transition name="fade" mode="out-in">
            <div id="cmd2" class="cmdcontainer" v-if="cmd2isClicked">
                <div class="cmdheader">
                    <p class="header-elements">cmd</p>
                    <button id="copyButton" class="header-elements" @click=copyCode("codeList2")>
                        <img src="clipboard-regular.svg" alt="copyButton">
                        <span>Copy code</span>
                    </button>
                </div>
                <div class="cmdbody">
                    <p v-for="code in codeList2" ref="codeList2" class="code">
                        {{code}}
                    </p>
                </div>
            </div>
        </transition>
        
    </div>
    <script src="cmd.js"></script>
</body>
</html>