div{
    margin: auto;
    width: 100%;
    height: auto;
}
#chatbox{
    margin-right: 5px;
}
.thumbnail {
    width: 95%;
    /* height: 100px; */
    /* overflow: hidden; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.thumbnail .cmdheader button{
    display: none;
}
.thumbnail .cmdbody p{
    display: none;
}

.expanded {
    width: 800px;
    position: fixed; /* 或 position: absolute; */
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    /* height: 400px; */
}
.expanded .cmdheader button{
    display: inline-block;
}
.expanded .cmdbody p{
    display: block;
}

.box{
    margin: 10px;
}
.cmdheader{
    background-color: #343541;
    color: #d1d1db;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.header-elements{
    display: inline-block;
}
#copyButton{
    position: absolute;
    right: 0;
    margin-top: 15px;
    background-color: transparent;
    color: #d1d1db;
    border: none; 
    box-shadow: none; 
}
#copyButton img, #copyButton span{
    vertical-align: middle;
}
.cmdbody{
    background-color: black;
    color: #fff;
    border-radius: 0 0 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    margin: 0;
    padding: 15px;
}
.annotation{
    color: #cacaca;
    padding: 5px 0px 5px 15px;
}
.annotation::before {
    content: "<! "; 
}
.annotation::after {
    content: " >"; 
}

/* .annotation_result{
    color: #cacaca;
    padding: 5px 0px 5px 15px;
}
.annotation_result::before {
    content: ""; 
}
.annotation::after {
    annotation_result: ""; 
} */

.code{
    color: #fff;
    padding: 5px 0px 5px 15px;
}
